<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--  <div class="field">-->
  <%#= form.label :start_time %>
  <%#= form.datetime_select :start_time, selected: @time_table.start_time %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :end_time %>
  <%#= form.datetime_select :end_time %>
  <!--  </div>-->

  <div class="field">
    <%= form.label :lesson_type %>
    <%= form.radio_button  :lesson_type, 1 %> 20분<br>
    <%= form.radio_button  :lesson_type, 2 %> 40분<br>
  </div>

  <!--  <div class="field">-->
  <%#= form.label :tutor_id %>
  <%#= form.hidden_field :tutor_id %>
  <!--  </div>-->

  <div class="field">
    <%#= form.label :time_table_id %>
    <%= form.hidden_field :time_table_id , value: @time_table_id%>
    <%#= hidden_field_tag 'time_table_id', value:@time_table_id  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>